header, body{display: block;}
body{background-color: black;overflow-x:hidden;}
header{width:100%; background-color:#071A1E;text-align:center; height: 7vw; margin:5px auto 10pxauto; padding:2px;}
header #logoIcon img {position: relative; right: -2vw;width:6vw;height:6vw;border-radius:12vw;}
header img :hover {cursor: pointer;}
header a img :hover {cursor: pointer;}
#User{position: relative; top: 20px; left: 3%; width:16vw;}
#User img {border-radius: 50%;width: 10vw;height:10vw;}
#User a {color: white;position: relative; left: 1vw; font-family: Arial; font-size: 2vw;}
#newfile img{ position:relative; width:10vw; height:4vw;}#newfile img:hover{cursor:pointer;}
#newfileimg{left: 5.5vw; }
#languages{position:relative; top:1.5vw;visibility:hidden;}
#languages img{ width:3vw;height:3vw; border-radius:3vw;margin-left:1.3vw;visibility:inherit;}
#saved_file{position:relative;}
#savedfiletitle {font-size:1.7vw;}
#saved_file select {font-size:1.4vw;}
#SavedOption img:hover{cursor:pointer;}
#SavedOption{position:relative; top:3vw;	left:0.6vw;}
#saved_file #SavedOption img { width:9vw;height:3.4vw; margin-left:1vw;visibility:inherit;}
#public_file {position:relative; top: 8vw;}
#public_file select {font-size:1.4vw;}
#public_file #SavedOption img { width:9vw;height:3.4vw; margin-left:1.2vw;visibility:inherit;}
.Split {height: 45vw;margin-left:1.56vw; position: relative;float:left;z-index: 1; top: 4vw; overflow-x: hidden; background-color:white;}
.StartMenu{width:23vw; }
.CodeForm{width: 49vw;visibility:hidden;}
.FileMenu{width:18vw;visibility:hidden;}
.FileMenu img {width:18vw; height:4vw; margin-top:3vw; visibility:inherit;}
.FileMenu img:hover{cursor:pointer}
#savetype legend {font-size:1.5vw;visibility:inherit;}
#savetype label{font-size:1.5vw;visibility:inherit;}
#lineform{visibility:inherit;font-size:1vw; background-color:black; color:fuchsia; width:100%; height: 40vw;}
#outputform{visibility:inherit; color:white;font-size:1vw; background-color:#333333; width:100%; height:10vw;}

@media (max-width: 760px){
.Split {height: 45vw; top: 4vw;}
#languages img{ width:3vw;height:3vw; border-radius:3vw;}
.StartMenu{width:23vw; }
#newfile img{ position:relative; width:10vw; height:4vw;}#newfile img:hover{cursor:pointer;}
#newfileimg{left: 5.5vw; }#savedfiletitle {font-size:1.7vw;}
#saved_file select {font-size:1.4vw;}
#SavedOption{top:3vw;	left:0.6vw;}
#saved_file #SavedOption img { width:9vw;height:3.4vw;}
#public_file select {font-size:1.4vw;}
#public_file #SavedOption img { width:9vw;height:3.4vw; }
.CodeForm{width: 49vw;}
#lineform{font-size:1vw;background-color:black;color:fuchsia;}
#outputform{font-size:1vw;background-color:#333333;color:white;}
.FileMenu{width:18vw;}
.FileMenu img {width:18vw; height:4vw; }
#savetype legend {font-size:1.5vw;}
#savetype label{font-size:1.5vw;}


}
@media (max-width: 425px){
.Split {height: 60vw; top: 6vw;}
.StartMenu{width:96%; }
#languages img{ width:1.7vw;height:2vw; border-radius:9vw;}
#newfile img{ width:10vw; height:4vw;}
#newfileimg{left: 40.5vw;}
#saved_file select {font-size:3.4vw;}
#SavedOption{top:3vw;	left:30vw;}
#saved_file #SavedOption img { width:14vw;height:5.4vw;}
#public_file select {font-size:3.4vw;}
#public_file #SavedOption img { width:14vw;height:5.4vw; }
.CodeForm{width: 96%;}
#lineform{font-size:2vw;background-color:black;color:lime;}
#outputform{font-size:2vw;background-color:#333333;color:yellow;}
.FileMenu{width:96%;}
.FileMenu img {width:35vw; height:7vw;}
#savetype legend {font-size:2.5vw;}
#savetype label{font-size:2.5vw;}

}